:root {
  /**
   * typography
   */

  --ff-nunito: "Nunito", sans-serif;
  --ff-open-sans: "Open Sans", sans-serif;

  --fs-1: 2.125rem;
  --fs-2: 1.875rem;
  --fs-3: 1.5rem;
  --fs-4: 1.375rem;
  --fs-5: 1.125rem;
  --fs-6: 0.875rem;
  --fs-7: 0.625rem;

  --fw-400: 400;
  --fw-600: 600;

  /**
   * transition
   */

  --transition: 0.5s ease;

  /**
   * spacing
   */

  --section-padding: 50px;

  /**
   * radius
   */

  --radius-10: 10px;
  --radius-14: 14px;
  --radius-18: 18px;

  /**
   * shadow
   */
}

.footer {
  background: "#EDF1F7";
  margin: 2em 0 0 0;
  box-shadow: 10px -10px 5px 0px rgba(1, 41, 112, 0.08);
  color: #2491df;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer-top {
  padding-block: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 50px;
}

.footer-top .logo {
  color: #2491df;
  font-size: 1.5em;
  font-weight: bold;
}

.footer-top .logo:hover {
  color: #14a800;
}

.footer-text {
  font-size: var(--fs-6);
  line-height: 1.8;
}

.footer-list {
  font-family: var(--ff-nunito);
}

.footer-list li:hover {
  color: #14a800;
}

.footer-list:not(:last-of-type) {
  width: 50%;
}

.footer-list:last-of-type {
  width: 100%;
  column-count: 1;
}

.footer-list-title {
  color: var(--space-cadet);
  font-weight: var(--fw-600);
  margin-bottom: 8px;
  color: #2491df;
  font-size: 1.5em;
  font-weight: bold;
}

.footer-link {
  font-size: var(--fs-6);
  padding-block: 6px;
}

.footer-link:is(:hover, :focus) {
  color: var(--carolina-blue);
}

.footer-list:last-child > li:first-child {
  column-span: all;
}

.footer-bottom {
  border: 1px solid #fff;
  border-radius: var(--radius-18) var(--radius-18) 0 0;
  padding: 20px;
  color: #2491df;
  background: "#ffff";
}

.social-list {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.social-link {
  font-size: 20px;
}

.social-link .footerIcon:hover {
  color: #14a800;
}

.social-link:is(:hover, :focus) {
  color: var(--carolina-blue);
}

.copyright {
  font-size: 1em;
  font-weight: bold;
}

.copyright > a {
  display: inline-block;
}

.copyright > a:is(:hover, :focus) {
  color: var(--carolina-blue);
}

@media (min-width: 768px) {
  .footer-brand {
    width: 100%;
  }

  .footer-text {
    max-width: 400px;
  }

  .footer-bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-block: 30px;
    box-shadow: var(--shadow-1);
    background-color: #fff;
  }

  .social-list {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .footer-list:not(:last-of-type) {
    width: 25%;
  }

  .footer-list:last-of-type {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .footer-brand {
    width: 33.33%;
  }

  .footer-text {
    max-width: 50ch;
    margin-top: 0.7em;
  }

  .footer-list:not(:last-of-type) {
    width: 16.66%;
  }

  .footer-list:last-of-type {
    width: 33.33%;
  }
}
