#form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50em;
  padding: 2em;
  height: 95%;
  background-color: #edf1f7;
  box-shadow: 0px 10px 10px 10px rgba(1, 41, 112, 0.08);
  cursor: pointer;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 3;
}

#car-image {
  color: #7f878e !important;
}
#form-button {
  background: #2491df !important	;
  border: 0;
  padding: 10px 30px;
  margin: 0 0 10px 0;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
#form-button:hover {
  background: #14a800 !important	;
}

#form-close-button {
  position: relative;
  left: -50%;
  top: -2em;
  background-color: rgb(170, 55, 55) !important;
  border: 0;
  padding: 0.5em 1em;
  margin: 0 0 0 0;
  color: #fff;
  transition: 0.4s;
  border-radius: 0 0 10px 0;
  font-weight: bold;
  text-align: center;
  -webkit-border-radius: 0 0 10px 0;
  -moz-border-radius: 0 0 10px 0;
  -ms-border-radius: 0 0 10px 0;
  -o-border-radius: 0 0 10px 0;
}

#form-close-button:hover {
  background-color: red !important;
}

@media (max-width: 1000px) {
  #form-wrapper {
    width: 40em;
  }
}

@media (max-width: 750px) {
  #form-wrapper {
    width: 20em;
  }
}

@media (max-width: 550px) {
  #form-wrapper {
    height: 95%;
    padding: 2em 2em 0 2em;
    width: 88%;
  }
}
