.recent-blog-posts .post-box {
  box-shadow: 0px 10px 10px 10px rgba(1, 41, 112, 0.08);
  transition: 0.5s;
  height: 100%;
  overflow: hidden;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}
.recent-blog-posts .post-box:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.recent-blog-posts .post-box .post-img {
  overflow: hidden;
  margin: -30px -30px 15px -30px;
  position: relative;
}
.recent-blog-posts .post-box .post-img img {
  transition: 0.5s;
}
.recent-blog-posts .post-box .post-date {
  font-size: 16px;
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
  display: block;
  margin-bottom: 10px;
}
.recent-blog-posts .post-box .post-title {
  font-size: 24px;
  color: rgb(36, 145, 223);
  font-weight: 700;
  margin-bottom: 18px;
  position: relative;
  transition: 0.3s;
}
.recent-blog-posts .post-box .readmore {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1;
  transition: 0.3s;
}
.recent-blog-posts .post-box .readmore i {
  line-height: 0;
  margin-left: 4px;
  font-size: 18px;
} /* 
.recent-blog-posts .post-box:hover .post-title {
  color: #4154f1;
}
.recent-blog-posts .post-box:hover .post-img img {
  transform: rotate(6deg) scale(1.2);
}
 */
