* {
  overflow-x: hidden;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: "#0a192f";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
