body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scrollbar-color: #ff5c00 #0a192f;
  scrollbar-width: 13px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background: #ff5c00;
}

::-webkit-scrollbar-track {
  background: #0a192f;
}
