.features .feature-box {
  padding: 24px 20px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
}
.features .feature-box h3 {
  font-size: 18px;
  color: rgb(36, 145, 223);
  font-weight: 700;
  margin: 0;
}
.features .feature-box i {
  line-height: 0;
  background: #ecf3ff;
  padding: 4px;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
}
.features .feature-box:hover i {
  background: #4154f1;
  color: #fff;
}
.features .feture-tabs {
  margin-top: 120px;
}
.features .feture-tabs h3 {
  color: rgb(36, 145, 223);
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .features .feture-tabs h3 {
    font-size: 28px;
  }
}
.features .feture-tabs .nav-pills {
  border-bottom: 1px solid #eee;
}
.features .feture-tabs .nav-link {
  background: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: rgb(36, 145, 223);
  padding: 12px 0;
  margin-right: 25px;
  margin-bottom: -2px;
  border-radius: 0;
}
.features .feture-tabs .nav-link.active {
  color: #4154f1;
  border-bottom: 3px solid #4154f1;
}
.features .feture-tabs .tab-content h4 {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
  color: #012970;
}
.features .feture-tabs .tab-content i {
  font-size: 24px;
  line-height: 0;
  margin-right: 8px;
  color: #4154f1;
}
.features .feature-icons {
  margin-top: 120px;
}
.features .feature-icons h3 {
  color: #012970;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

#tipsImg {
  margin: 1em 0 0 0;
}

@media (max-width: 768px) {
  .features .feature-icons h3 {
    font-size: 28px;
  }
}
.features .feature-icons .content .icon-box {
  display: flex;
}
.features .feature-icons .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: #012970;
}
.features .feature-icons .content .icon-box i {
  font-size: 44px;
  line-height: 44px;
  color: #0245bc;
  margin-right: 15px;
}
.features .feature-icons .content .icon-box p {
  font-size: 15px;
  color: #848484;
}

@media (min-width: 1200px) {
  #tipsImg {
    margin: -5em 0 0 0;
  }
}
